html {
  height: 100%;
}
img, object, embed, video {
  max-width: 100%;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 95%; /* Give a little space on mobile */
  padding: 0;
  min-height: 100%;
}

#time-display {
    font-size: 18vw; /* Make font responsive on mobile */
}

/* =============================================
  Tablet layout styles 
   =============================================
*/

@media only screen and (min-width: 481px) {
    body {
      width: 90%;
    }
    #time-display {
        font-size: 12vw;
    }
}

/* =============================================
  Desktop layout styles
   =============================================
*/

@media only screen and (min-width: 769px) {
    #clock-container {
        max-width: 900px;
    }
    #time-display {
        font-size: 6em; /* Reset to fixed size on large screens */
    }
}
