html {
  height: 100%;
}
img, object, embed, video {
  max-width: 100%;
}

body {
  padding: 0 15px;
}

#time-display {
    font-size: 18vw;
}

@media (max-width: 768px) {
    #clock-container {
        height: auto;
        min-height: 500px;
        padding-bottom: 20px;
    }
    #multi-clock-grid {
        grid-template-columns: 1fr;
    }
    .mini-clock .mini-time {
        font-size: 10vw;
    }
}

@media only screen and (min-width: 769px) {
    #clock-container {
        max-width: 900px;
    }
    #time-display {
        font-size: 6em;
    }
}
