html {
  height: 100%;
}
img, object, embed, video {
  max-width: 100%;
}

body {
  padding: 15px;
}

#time-display {
    font-size: 18vw; /* Large, responsive font for mobile */
}

/* =============================================
  Tablet and Desktop styles 
   =============================================
*/

@media only screen and (min-width: 769px) {
    #time-display {
        font-size: 6em; /* Reset to a fixed size on larger screens */
    }
}
